# ==========================
# Python
# ==========================

__pycache__/
*.py[cod]
*$py.class

# ==========================
# Virtual environments
# ==========================

venv/
.venv/
env/

# ==========================
# Environment variables
# ==========================

.env

# ==========================
# IDE
# ==========================

.idea/
.vscode/

# ==========================
# macOS
# ==========================

.DS_Store

# ==========================
# Logs
# ==========================

*.log

# ==========================
# Pytest
# ==========================

.pytest_cache/
.coverage
htmlcov/

# ==========================
# Ruff
# ==========================

.ruff_cache/

# ==========================
# MyPy
# ==========================

.mypy_cache/

# ==========================
# Build
# ==========================

dist/
build/
*.egg-info/